img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url('img/restaurant.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.receipt {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    text-align: center;
    width: 350px;
    margin: 20px;
    border: 2px solid black;
}

.tip {
    padding: 20px;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.tip-option {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.tip input[type="radio"] {
    margin-right: 5px;
}

h1,
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p,
label,
button,
#total {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.compute,
.total-with-tips p,
.items p,
#total {
    font-size: 1.3em;
}

.items p {
    display: flex;
    align-items: center;
    justify-content: center;
}